// === Main ===
.not-found {
    &__header {
        width: 550px;
        margin: 200px auto 0;
        font-size: 50px;
        color: #056088;
        font-weight: 500;
    }
    &__link {
        width: 230px;
        margin: 50px auto 0;
        font-size: 25px;
        color: #056088;
        text-decoration: underline;
    }
}
// === / Main ===

// === Media ===
@media (max-width: 575px) {
    .not-found {
        &__header {
            width: 280px;
            font-size: 25px;
        }
        &__link {
            width: 180px;
            font-size: 20px;
            margin: 30px auto 0;
        }
    }
}
// === / Media ===